.rodape__dev{
    background-color: var(--footer);
    font-size: 1rem;
    padding: 1.25rem;
}

.rodape__container{
    display: none;
}

hr{
    margin: 0;
}

@media screen and (min-width: 1024px) {
    .rodape__dev{
        background-color: var(--footer);
        font-size: 1.5rem;
        padding: 1.25rem;
    }

    .rodape{
        display: flex;
        background-color: var(--footer);
        justify-content: space-around;
        padding: 3.5rem 0 3.5rem 0;
    }

    .rodape__container{
        display: flex;
        flex-direction: column;
        gap: 1.5rem;
    }

    .rodape__container-text{
        font-size: .875rem;
        color: var(--paragrafo-footer);
    }

    .rodape__container-link{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }

    .rodape__container-link a{
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: .625rem;
        color: var(--text-footer);
    }
}